/*permite resetear los elementos de la página*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*finaliza los comandos para el reseteo*/


body {
	font-size:100.5%;/*determina el tamaño de la letra*/

}


#parrafoPiePagina {
	color:#FFF;
}

.fotosCarrusel {
	color:rgb(0,0,0);
}

#estiloParrafo1 {

	font: normal 0.5em arial;
}

#estiloParrafo2 {
	width:50%; /*indicamos cuanto porcentaje del navegador ocupará*/
	margin:auto;
	text-align:center;
	padding:15px;

}

#elementosBienvenida {
	display: inline;
	color: blue;
	font:normal 1.2em arial;

}

#posContenedor {
	float:left;
	color:white;
	font:normal 1.5em arial;
	//border: solid #0F0;
	padding: 15px;
	/*border-radius:25px;*/
	background:-webkit-linear-gradient(left, rgb(0,0,100), rgb(0,0,150));
	/*outline: 10px dashed rgb(255,0,0);*/
	width: 100%;
    max-width: 175px;

}

p {
	font-family: RavenMx;
}

#logotipoIzquierdo {
	float:left;
	margin-right:auto;
	//margin:25px;
	-webkit-transform:scale(0.5);


}



#logotipoDerecho {
	
	float:left;
	clear:left;
	//-webkit-transform:scale(0.3);
	

}

#cabecera {
	color:white;
	font:normal 2.5em arial;
	/*border-radius:25px;*/
	background:-webkit-linear-gradient(left, rgb(0,0,100), rgb(0,0,150));
	/*outline: 10px dashed rgb(255,0,0);*/
	
	
	
	
}

#barraNavBienvenida{
	font:normal 0.8em arial;
	text-align: right;
	background-color: rgb(255,255,255);
}

#barraNavProductos {
	font:normal 0.8em arial;
	text-align: left;
	background-color: #FFF;
	border: solid rgb(0,255,0);
	clear:left;
	padding: 15px;
	height: 15px;

}


#elementosProductos {
	display: inline;
	color: blue;
	font:normal 1.2em arial;

}


#titulo {
	font-family:Raven;
	padding:40px;
	color:rgba(255,255,255,0.5);
	/*outline: 10px dashed rgb(0,255,0);*/
	text-align: Center;
	width:50%; /*indicamos cuanto porcentaje del navegador ocupará*/
	margin:25px auto;
	-webkit-transform:scale(2);
	-webkit-transition:-webkit-transform 1s ease 0.5s;
	
	
}


#titulo:hover {
	/*-webkit-transform:scale(2);*/
	-webkit-transform:scale(1);
	-webkit-transition:-webkit-transform 1s ease 0.5s;

}

#transformarFoto {
	-webkit-transform:scale(0.25)
}
#barraLateralDerecha {
	float:right;
	//background-color:rgb(255,0,0);
	//height:700px;
	width: 100%;
	max-width: 200px;

}

#barraLateral {
	float:left;
	

}
#cuerpo {
	/*background-color:#086;*/
	/*padding-top:15px;*/
	/*padding-left:10px;*/
	clear:left;
	

}

#pieDePagina {
	background-color:#00F;
	clear:left;
	
}

#pieDeFoto {
	font: bold 2.0em arial;
	text-align:center;

}


#fotos {
	float:left;
	width:20%;
	margin:0;
	padding:0;
	height:200px;
	width: 200px;
	/*-webkit-transform:scale(0.4);*/
	
	
}

#fotosRestantes {
	float:left;
	width:20%;
	margin:0;
	padding:0;
	height:200px;
	width: 200px;
	/*-webkit-transform:scale(0.4);*/
}
/*#fotos:hover {
	-webkit-transform:scale(1);
	-webkit-transition:-webkit-transform 1s ease 0.5s;
}*/

.opcionesBarraLateral {
	clear:both;
}
.contenedorFoto {
	width:50%; 
	max-width: 3000px;
	text-align:left; 
	line-height: 500px;
}


.blockRestantes
{
	 float:right;
	color:white;
	margin-top: 0px;
	font:normal 1.0em arial;
	//border: solid #0F0;
	padding: 15px;
	margin-left: 0px;
	/*border-radius:25px;*/
	background:-webkit-linear-gradient(left, rgb(0,0,100), rgb(0,0,150));
	/*outline: 10px dashed rgb(255,0,0);*/
	max-width: 200px;
	width:100%;
}


.input-resantes
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 300px;
  background-color: #ddd;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
  clear:both;
  position: relative;
  align-self: center;
  
  
}

#estiloBoton {
	max-width:150px;
	width:100%;
	//float:left;
	
}
