@charset "iso-8559-1";


.textoTamaño8 {
	font-size:1rem;
}

.textoTamaño7 {
	font-size:0.7rem;
}

.restablecerImagen {
	width:70%;
}
.textoTamaño6 {
	font-size:0.6rem;
	
}
.adaptarTamaño{
	margin-left:0;
}

.centrarBoton {
	 margin-left: 1.25rem;
}


@media only screen and (max-width: 650px) {
	.adaptarTamaño{width: 0.8rem}
}
@media (max-width: 720px) and (max-width: 1280px) {
   .textoTamaño8{font-size: 0.7rem;}
   .restablecerImagen {width:100%;}
   .input {width:100%;}
  
}

@media (max-width: 320px) and (max-width:640px) {
   .textoTamaño8{font-size: 0.8rem;}
   .input {width:100%;}
   
}





